{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block meta_title %} {% if 'add/' in request.path %}{% trans "Add Exam" %}{% else %}{% trans "Edit Exam" %}{% endif %} {% endblock meta_title %}
{% block title %} {% if 'add/' in request.path %}{% trans "Add Exam" %}{% else %}{% trans "Edit Exam" %}{% endif %} {% endblock title %}
{% block status_message %}
{% if form.errors %}
<div class="alert alert-warning" role="alert">{% trans "Please fix the following mistakes" %}</div>
{% endif %}
{% endblock %}
{% block content %}
{% crispy form %}
{% endblock content %}
