{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Іспити{% endblock meta_title %}
{% block title %}Іспити{% endblock title %}
{% block content %}
<a href="{% url "exams_add" %}" class="btn btn-primary" id="exam-add-form-button">Додати Іспит</a></h2>

			<!-- Start exams Listing -->
			{% if exams %}
			<table class="table table-hover table-striped">
				{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
				<thead>
					<tr>
						<th><a href="{% url "exams" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-sorting">
							№
							{% if order_by == 'id' and reverse != '1' %}&uarr;
							{% elif order_by == 'id' and reverse == '1' %}&darr;
							{% endif %}</a></th>
						<th><a href="{% url "exams" %}?order_by=subject{% if order_by == 'subject' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-sorting">
							Назва предмета
							{% if order_by == 'subject' and reverse != '1' %}&uarr;
							{% elif order_by == 'subject' and reverse == '1' %}&darr;
							{% endif %}</a></th>
						<th><a href="{% url "exams" %}?order_by=examdate{% if order_by == 'examdate' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-sorting">
							Дата і час проведення
							{% if order_by == 'examdate' and reverse != '1' %}&uarr;
							{% elif order_by == 'examdate' and reverse == '1' %}&darr;
							{% endif %}</a></th>
						<th><a href="{% url "exams" %}?order_by=teacher{% if order_by == 'teacher' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-sorting">
							Ім'я та прізвище викладача
							{% if order_by == 'teacher' and reverse != '1' %}&uarr;
							{% elif order_by == 'teacher' and reverse == '1' %}&darr;
							{% endif %}</a></th>
						<th><a href="{% url "exams" %}?order_by=exam_group{% if order_by == 'exam_group' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-sorting">
							Група-учасник
							{% if order_by == 'exam_group' and reverse != '1' %}&uarr;
							{% elif order_by == 'exam_group' and reverse == '1' %}&darr;
							{% endif %}</a></th>
						<th>Дії</th>
				</thead>
				{% endwith %}
				<tbody>
					{% for exam in exams %}
					<tr>
						<td>
							{% if is_paginated %}
								{{ page_obj.start_index|add:forloop.counter0 }}
							{% else %}
								{{ forloop.counter }}
							{% endif %}
						</td>
						<td><a href="{% url "exams_edit" exam.id %}" class="exam-edit-form-link">{{ exam.subject }}</td>
						<td><a href="{% url "exams_edit" exam.id %}" class="exam-edit-form-link">{{ exam.examdate }}</td>
						<td><a href="{% url "exams_edit" exam.id %}" class="exam-edit-form-link">{{ exam.teacher }}</td>
						<td><a href="{% url "exams_edit" exam.id %}" class="exam-edit-form-link">{{ exam.exam_group }}</td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle"
										data-toggle="dropdown">Дія
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="{% url "exams_edit" exam.id %}" class="exam-edit-form-link">Редагувати</a></li>
										<li><a href="{% url "exams_delete" exam.id %}" class="exam-delete-form-link">Видалити</a></li>
									</ul>
								</div>
							</td>
						</tr>
						{% endfor %}
				</tbody>
			</table>
			<!-- End Students Listing -->
			{% else %}
			<p>Поки немає іспитів у базі</p>
			{% endif %}
			{% with object_list=exams %}
				{% include "students/pagination.html" %}
			{% endwith %}

{% endblock content %}
